<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS_GUITARESoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WS_GUITARESoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44391/WS_GUITARE.asmx" binding="basicHttpBinding"
                bindingConfiguration="WS_GUITARESoap" contract="NS_WS_LOCAL.WS_GUITARESoap"
                name="WS_GUITARESoap" />
        </client>
    </system.serviceModel>
</configuration>